<html ng-app="leadForms">
  <head>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/semanticui/css/semantic.min.css"/>
    <!--<link rel="stylesheet/less" type="text/css" href="/assets/css/styles.css" />-->

    <script type="text/javascript" src="/assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/semanticui/javascript/semantic.min.js"></script>
    <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/angular-ui-router/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="/assets/js/base.js"></script>
    <!-- USING LESS UNCOMPILED FOR DEVELOPMENT ONLY -->
    <link rel="stylesheet/less" type="text/css" href="/assets/css/leadform.less" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class=""><img src="/assets/images/money-trees-logo.png"/></div>
      <div class="ui one column grid masthead segment">
        <div class="column">
          <form action="/newlead" method="POST">
            <div class="ui form segment">
              <div class="field">
                <label>Name</label>
                <div class="ui left labeled icon input">
                  <input type="text" placeholder="Name" name="name">
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Email</label>
                <div class="ui left labeled icon input">
                  <input type="text" placeholder="Email" name="email">
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Telephone</label>
                <div class="ui left labeled icon input">
                  <input type="text" placeholder="Telephone" name="phoneNumber">
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="ui error message">
                <div class="header">We noticed some issues</div>
              </div>
              <input type="submit" class="ui green submit button" value="submit"/><!--Submit!</div>-->
            </div>
          </form>
        </div>
      </div>
      <div class="content">
        <p>
          <a href="http://www.comparing-annuities.co.uk/compare-annuities">
            <img class="alignnone size-full wp-image-259" title="logo_plate" src="http://www.comparing-annuities.co.uk/wp-content/themes/Avada/images/some-annuity-providers.jpg" alt="Some Annuity Providers used for Comparison" width="939" height="96">
          </a>
          </p>
        <div class="ui two column page grid">
          <div class="column">
            <div class="ui list why-use">
              <h2>Why use our service?</h2>
              <span class="item">
                <i class="right triangle icon"></i>
                How do you know your dog likes you?
              </span>
              <span class="item">
                <i class="right triangle icon"></i>
                When is it ok to send your dog to a farm?
              </span>
              <span class="item">
                <i class="right triangle icon"></i>
                Can you get your dog back from a farm if you really want him back?
              </span>
              <span class="item">
                <i class="right triangle icon"></i>
                Is trespassing on a farm a misdemeanor offence?
              </span>
            </div>
          </div>
          <div class="ui column">
            <h2 class="header">What our clients say</h2>
            <div class="ui message">some quotes</div>
          </div>
        </div>
        <div class="footer">
          Footers
        </div>
      </div>
    </div>


  </body>
</html>
