<html ng-app="leadForms">
  <head>
    <title><%=title%></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/semanticui/css/semantic.min.css"/>
    <!--<link rel="stylesheet/less" type="text/css" href="/assets/css/styles.css" />-->

    <script type="text/javascript" src="/assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/semanticui/javascript/semantic.min.js"></script>
    <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/angular-ui-router/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="/assets/js/base.js"></script>
    <!-- USING LESS UNCOMPILED FOR DEVELOPMENT ONLY -->
    <link rel="stylesheet/less" type="text/css" href="/assets/css/styles.less" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
  </head>

  <body>
    <div class="ui menu teal inverted">
      <a href="/" class="header active item"><i class="home icon"></i> Lead Form Management Utility</a>
      <div class="right menu">
        <div class="ui dropdown link item inverted">
          Menu
          <i class="dropdown icon"></i>
          <div class="menu">
            <% if(loggedIn===true) { %>
              <a href="/logout" class="item">Log Out</a>
            <% } else { %>
              <a href="/login" class="item">Log In</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <%-body%>
  </body>
</html>
