<div ng-controller="viewLeads" class="view-leads">
  <table class="ui table segment">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lead in leads">
        <td>{{lead.name}}</td>
        <td>{{lead.email}}</td>
        <td>{{lead.phoneNumber}}</td>
        <td>
          <select ng-model="lead.status" ng-change="leadChanged(lead)">
            <% Object.keys(leadInfoStates).forEach(function(key) { %>
              <option value="<%=leadInfoStates[key]%>"><%=key%></option>
            <% }) %>
          </select>
        </td>
        <td>{{lead.assignedTo === null ? "Unassigned" : lead.assignedTo}}</td>
        <td>{{lead.createdDate}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui unordered horizontal list pagination">
            <div class="item" ng-repeat="page in pages">
              <a ng-click="viewPage(page.index)" ng-if="currentPage !== page.index">
                <i class="{{page.icon}} icon" ng-if="page.icon !== undefined"></i>{{page.text}}
              </a>
              <span ng-if="currentPage === page.index">{{page.text}}</span>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
